{% extends "base.html" %}

{% block title %} {{song.title}} {% endblock title %}

{% block content %}
{{ song.title }} - {{ song.artist }}
<div><img style="height: 200px; width: 200px;" src="{{song.image.url}}" alt="{{song.title}}"></div>    
<audio controls>
            
    <source src="{{ song.audio_file.url }}" type="audio/mp3">

</audio>

<p>Likes: {{ song.likes }}</p>

<h2>Comments:</h2>
<ul class="list-unstyled">
    {% for comment in comments %}
        <li>&emsp;{{ comment.body }} - {{ comment.user.username }}: {{comment.createdAt}}</li>
    {% endfor %}
</ul>
{% if request.user.is_authenticated %}
    <div class="container-fluid">
        <div class="row">
        
            <form method="post" action="{% url 'play_song' song_id=song.id %}">
                {% csrf_token %}
                <button class="btn" type="submit" name="like">
                    {% if user_has_liked %}
                        UnLike
                    {% else %}
                        Like
                    {% endif %}
                </button>
            </form>

        </div>
        <div class="row">
            <form method="post" action="{% url 'play_song' song_id=song.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn " type="submit" name="comment">Add Comment</button>
            </form>
        </div>



    </div>
{%endif%}
{% endblock content %}

