{% extends "base.html" %}

{% block title %}My Profile{% endblock title %}

{% block content %}
<h1>Welcome {{ user.username }}</h1>

<h2>My songs:</h2>
<ul class="list-unstyled">
{% for song in songs  %}

<li>
    {{ song.title }} - {{ song.artist }}
    <div><img style="height: 200px; width: 200px;" src="{{song.image.url}}" alt="{{song.title}}"></div>
    <br>
    Listen count: {{ song.listen_count }}
    <br>
    <a href="{% url 'play_song' song.id %}">Play</a>
    
</li>
<br>

{% endfor %}
</ul>


<h3>My playlists:</h3>

{% for playlist in playlists %}

<ul class="list-unstyled">
    <li>
        {{playlist.name}}
    </li>

    <ul>
        {% for song in playlist.songs.all  %}
            <li> {{song.title}} - {{song.artist}} - <a href="{% url 'play_song' song.id %}">Play</a></li>
        {% endfor %}
    </ul>
</ul>

{% endfor %}
{% endblock content %}

